/* Universal Styles */

  /* Resets margins for all browsers */

* {
  margin: 0;
  padding: 0;
}

/* ID's */


/* Classes */

  /* Centers text */

.center {
  text-align: center;
}

  /*Nurtrition Table Styling */



/* Media */
