/* Universal Styles */

  /* Resets margins for all browsers */

* {
  margin: 0;
  padding: 0;
}

/* ID's */

  /* Navigation Bar Styling */

#navbar {
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

/* Classes */

  /* Centers text */

.center {
  text-align: center;
}

  /*Nurtrition Table Styling */



/* Media */
