/******************************************************************************/

  /*                        nutrition-tracker stylesheet

                             timscoding@protonmail.com

                                                                              */

/******************************************************************************/

/* Universal */

  /* Resets margin for browsers */
* {
margin: 0;
padding: 0;
}

/******************************************************************************/

/* Fonts */



/******************************************************************************/

/* Type */



/******************************************************************************/

/* Class */

.center {
  text-align: center;
}

/******************************************************************************/

/* ID */

#navbar {
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

/******************************************************************************/

/* Attribute */



/******************************************************************************/

/* Media */



/******************************************************************************/
